h1 {
    color:blue;
}
#super-header {
    color: blueviolet;
}
.special-header {
    color: fuchsia;
    font-size: 3em;
} 
.pancake-header {
color: firebrick;
font-size: 6em;
}

.nav-links {
    display: flex;
}

.nav-links > a {
    margin: 0 4px;
}